@font-face {
  font-family: "OpenDyslexic3 Bold";
  src: url('chrome-extension://pfelepmfbohpaimipnkkaejbnllgcgno/fonts/OpenDyslexic3-Bold.ttf') format('truetype');
}

span.ytp-caption-segment {
  background: transparent;
  color: white !important;
  fill: white !important;
  font-family: "OpenDyslexic3", "OpenDyslexic3 Bold", sans-serif !important;
  font-weight: bold !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9) !important;
  -webkit-text-stroke: 0.7px #1c1c1c !important;
}
